<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("UserDelegations")</span>
    </h4>
    <button id="DelegateNewUserButton" class="btn btn-primary pull-right"><i class="la la-plus"></i>@L("DelegateNewUser")</button>
</div>
<div class="modal-body">
    <table id="DelegatedUsersTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
        <thead>
            <tr>
                <th>@L("UserName")</th>
                <th>@L("StartTime")</th>
                <th>@L("EndTime")</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>